<br />
This is intended to be an open-source CMS, built to use Camlistore as its storage system. It is built in Ruby on Sinatra, and features basic blog and content management functionality. I’ve started putting together the basic proof-of-concept CRUD here.
<br /><br />
<% @node_list.each do |key, node| %>
<a href="/node/<%= key %>"><%= node.title %></a><br />
<% end %>
