<pre><%= @dpm || '' %></pre>
<% if @content %>
	<%= @content['body'] %>
<% end %>
<br /><br />
<% if @revisions %>
	<h2>Revisions</h2>
	<% @revisions.each do |revision| %>
	<%= revision['title'] %><br />
	<%= revision['body'] %><br /><br />
	<% end %>
<% end %>
